@import url(general.css);


#content-container {
    margin: 64px;
}

#addTask-form {
    display: flex;
}

.addTask-column {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* border: 1px solid gray; */

}

.left-column {
    padding-right: 32px;
}

.right-column {
    padding-left: 32px;
}

.addTask-label {
    font-size: 20px;
    color: var(--clr-dark-gray);
    margin-bottom: 8px;
}

.required::after {
    content: '*';
    color: var(--clr-light-red);
}

.addTask-input-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;
}

.addTask-inputField {
    border-radius: 10px;
    width: 100%;
    height: 48px;
    border: 1px solid var(--clr-light-gray);
    padding: 12px 16px;
    font-size: 20px;
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--clr-dark-gray);
    background-color: white;
  
}

.addTask-textarea {
    min-height: 120px;
    font-family: 'Inter', Helvetica, sans-serif;
}

.addTask-assigned {
    padding-block: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: relative;
}

.addTask-searchField {
    padding: 0;
    font-size: 20px;
    border: none;
    color: var(--clr-dark-gray);
}

.addTask-round-btn-frame {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTask-round-btn-frame:hover {
    background-color: var(--clr-light-gray);
}

.addTask-arrow-btn {
    cursor: pointer;
}

.arrow-up {
    transform: rotate(180deg);
}

.addTask-dropdown-container {
   
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    padding: 10px 16px;
    position: relative;
}
.addTask-dropdown-container.contacts{
    max-height: 250px;
    overflow-y: scroll;
}



.contact-element {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding-block: 12px;
}

.addTask-profile-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FF7A00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.addTask-dropdown-text {
    flex: 1;
    margin: 0;
}


.addTask-btn-container {
    border-radius: 10px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid var(--clr-light-gray);
    padding: 12px 16px;
    font-size: 20px;
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--clr-light-gray);
    background-color: white; */

}

.addTask-prio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    width: 136px;
    height: 100%;
    border: 1px solid var(--clr-light-gray);
    /* padding: 12px 16px; */
    font-size: 20px;
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--clr-dark-gray);
    /* background-color: white; */
}

.addTask-prio-btn:hover:not(.selected){
    cursor: pointer;
}

.selected {
    color: white;
    font-weight: 700;
}

.urgent svg {
    width: 20px;
}

.urgent.selected {
    background-color: var(--clr-prio-red);
}
.medium.selected {
    background-color: var(--clr-prio-orange);
}
.low.selected {
    background-color: var(--clr-prio-green);
}

.urgent svg path {
    fill: var(--clr-prio-red);
}

.selected svg path {
    fill: white;
}

.category-element{
    padding-block: 12px;
    cursor: pointer;
}
.input-subtask{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.addTask-add-btn{
    width: 14px;
    height: 14px;
}

.addTask-inputField-subtask {
    border-radius: 10px;
    width: 100%;
    height: 48px;
    border: 1px solid var(--clr-light-gray);
    padding: 12px 16px;
    font-size: 20px;
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--clr-dark-gray);
    background-color: white;
    display: flex;
    justify-content: space-between;
  
}

.addTask-inputField-sub{
    display: flex;
   
    height: 100%;
    border: none;
    font-size: 20px;
    border: none;

}
.addTask-inputField-sub:focus{
    outline: none;
}

.addTask-delete-accept-container{
    display: flex;
    gap: 8px;
}