/* @import url(general.css); */

#board-content-container {
    margin-left: 96px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-left: 12px;
    padding-bottom: 80px;
}

.board-headline {
    margin-block: 0;
    /* margin-bottom: 48px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-headline h1 {
    margin: 0;
}

.board-headline-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.board-controller {
    display: flex;
}

.board-search {
    /* width: 312px; */
    height: 48px;
    border-radius: 10px;
    border: 1px solid var(--clr-font-light-grey);
    position: relative;
    background-color: white;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-search-btn-frame {
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: flex-end;
    border-left: 1px solid var(--clr-light-gray);
}

.blue-outline {
    outline: 1px solid var(--clr-light-blue);
}

.board-round-btn-frame {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 75ms;
    position: relative;
}

.board-round-btn-frame:hover {
    background-color: var(--clr-light-gray);
}

.board-search input {
    font-size: 20px;
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
}

.board-btn-addTask {
    margin-left: 32px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--clr-dark-gray);
    color: white;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    transition: all 75ms;
}

.board-btn-addTask:hover {
    background-color: var(--clr-light-blue);
}

.board-btn-addTask svg {
    margin-left: 10px;
}

.board-column-container {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    opacity: 0;
    transition: all 75ms ease-in;
}

.board-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 252px;
    flex-shrink: 0;
    min-height: 500px;
    gap: 16px;
    margin-top: 32px;
    position: relative;
}

.board-column-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8px;
    width: 100%;
}

.board-colum-headline {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.board-addTask-control {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 2px solid var(--clr-dark-gray);
    border-radius: 8px;
}

.board-addTask-control svg {
    width: 8px;
    height: 8px;
}

.control-mobile {
    width: 40px;
    height: 40px;
    background-color: var(--clr-dark-gray);
    display: none;
    cursor: pointer;
}
.control-mobile svg {
    width: 20px;
    height: 20px;
}

.board-addTask-control:hover:not(.control-mobile),
.board-addTask-control:hover path:not(.control-mobile path) {
    border-color: var(--clr-light-blue);
    fill: var(--clr-light-blue);
}

.board-column-noTask {
    width: 99%;
    height: 48px;
    border: 2px dotted var(--clr-font-light-grey);
    border-radius: 10px;
    background-color: var(--clr-bg-light-grey);
    color: var(--clr-font-light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 8px;
    position: absolute;
    top: 50px;
    left: 1px;
    z-index: 0;
    pointer-events: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-height: 100vh;
    /* padding-bottom: 250px; */
    border-radius: 24px;
    width: 100%;
}

.board-card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: first baseline;
}

.board-card-move-btn {
    height: 18px;
    width: 18px;
    cursor: move;
    display: none;
}

.board-card-move-btn:hover path {
    fill: var(--clr-light-blue);
}

.board-task-card {
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
    padding: 16px;
    cursor: pointer;
    z-index: 5;
    background-color: white;
    /* display: flex;
    flex-direction: column; */
}

.board-task-category {
    background-color: var(--clr-task-userstory);
    width: fit-content;
    color: white;
    padding: 4px 16px;
    border-radius: 8px;
    margin: 0 0 24px 0;
}

.board-task-description:not(.detail-card-description) {
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-font-light-grey);
    margin-bottom: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.board-task-progress {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 11px;
    margin-block: 24px;
}

.board-task-progress p {
    font-size: 12px;
    margin: 0;
}

.board-task-progress-inner {
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-color: #4589ff;
}

.board-task-progressbar {
    flex: 1;
    background-color: #f4f4f4;
    height: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.board-task-profile-badge-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 16px;
}

.board-task-profile-badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ff7a00;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 10px;
    margin-left: -16px;
}

.board-task-footer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: auto;
}

.board-task-priority-container {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-ghostCard {
    width: 100%;
    height: 250px;
    border-radius: 24px;
    border: 2px dotted var(--clr-font-light-grey);
    opacity: 0;
}

.show-ghostCard {
    opacity: 1;
}

.remove-ghostCard {
    opacity: 0 !important;
}

.margin-55 {
    margin-top: 75px;
}

.card-rotate {
    transform: rotate(5deg);
    transition: all 75ms ease-in-out;
}

.d-none {
    display: none !important;
}

.board-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    /* overflow-x: scroll; */
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    padding-block: 16px;
    justify-content: center;
    align-items: center;
}

.details-card-container {
    width: 525px;
    height: fit-content;
    background-color: white;
    border-radius: 30px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 0;
    transform: translateX(1000%);
}

.popup-card-container {
    /* width: fit-content; */
    min-width: min(400px, 100%);
    width: min-content;
    height: fit-content;
    max-height: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 0;
    overflow-x: auto;
    z-index: 100;
}

.board-task-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board-task-detail-close {
    cursor: pointer;
}

.flex-end {
    align-self: flex-end;
    transform: translateY(-10px);
}

.board-task-detail-close path {
    pointer-events: none;
}

.detail-card-category {
    font-size: 23px;
    margin: 0;
}

.detail-card-title {
    font-size: 61px;
    font-weight: 700;
}
.detail-card-description {
    margin-top: 0;
    color: black;
    font-size: 20px;
}
.detail-card-line {
    display: flex;
    align-items: center;
}
.detail-card-line-label {
    width: 117px;
}
.detail-card-line-info {
    display: flex;
    align-items: center;
}
.detail-card-line-info svg {
    margin-left: 10px;
}
.details-badge-container {
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.details-profile-badge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff7a00;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 12px;
    margin: 7px 16px;
}
.detail-card-subtask-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail-card-subtask {
    display: flex;
    align-items: center;
    padding-block: 6px;
    margin: 0;
    padding-left: 16px;
}
.detail-card-subtask p {
    margin: 0;
}

.addTask-checkbox {
    width: 18px;
    height: 19px;
    margin-right: 16px;
    cursor: pointer;
}

.detail-card-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}
.detail-card-footer-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}
.detail-card-footer-btn:hover,
.detail-card-footer-btn:hover > svg path {
    color: var(--clr-light-blue);
    fill: var(--clr-light-blue);
}

.detail-card-footer-btn svg {
    pointer-events: none;
}
.border-left {
    padding-left: 8px;
    border-left: 1px solid var(--clr-light-gray);
}

.card-slide-in-animation {
    animation: card-slide-in 0.3s ease-in-out forwards;
}

.card-slide-out-animation {
    animation: card-slide-out 0.3s ease-in-out forwards;
}

@keyframes card-slide-in {
    0% {
        transform: translateX(1000%);
    }

    100% {
        transform: translatex(0);
    }
}

@keyframes card-slide-out {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translateX(1000%);
    }
}

@media (max-width: 1200px) {
    .board-overlay {
        margin-left: 0;
    }
    #board-content-container {
        margin-top: 48px;
        margin-left: 16px;
    }
}

@media (max-width: 1420px) {
    .board-column {
        min-height: unset;
        width: 100vw;
        overflow-x: scroll;
        padding-bottom: 12px;
        padding-left: 5px;
    }
    .board-column-container {
        flex-direction: column;
        width: 100vw;
    }
    .card-container {
        flex-direction: row;
        min-height: 80px;
        padding-bottom: 0;
    }
    .board-task-card {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-self: stretch;
        width: 252px;
        min-height: 252px;
    }

    .board-column-noTask {
        flex-shrink: 0;
        align-self: stretch;
        width: 252px;
    }

    .board-ghostCard {
        display: none;
    }

    .board-headline-menu {
        flex-direction: column;
        align-items: flex-start;
        width: max-content;
    }
    .board-headline {
        width: 100%;
        margin-bottom: 24px;
    }
    .board-headline h1 {
        font-size: 47px;
    }

    .control-mobile {
        display: flex;
        cursor: pointer;
    }

    .card-rotate {
        transform: rotate(0);
    }
    .board-card-move-btn {
        display: block;
    }
}

@media (max-width: 1420px) {
    .board-btn-addTask {
        display: none;
    }
    .board-column-header {
        max-width: min(300px, 98%);
        align-self: flex-start;
    }
}

@media (max-width: 400px) {
    .board-task-card {
        width: 220px !important;
    }
}

@media (max-width: 350px) {
    .board-headline-menu {
        width: calc(100vw - 30px);
    }
}

@media (max-width: 500px) {
    .board-overlay {
        padding: 0 0 80px 0 !important;
    }

    .popup-card-container {
        padding-inline: 16px;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
.board-task-title.detail-card-title {
    font-size: 48px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.move-submit-btn {
    margin-top: 32px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--clr-dark-gray);
    color: white;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    transition: all 75ms;
}

#form-moveTo {
    font-size: 20px;
}

#form-moveTo p {
    font-weight: 700;
}

input[type='radio'] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-bottom: 16px;
    border: 2px solid #999;
    margin-right: 5px;
    cursor: pointer;
}

input[type='radio']:hover {
    background-color: var(--clr-light-blue);
}
