@import url(general.css);

@keyframes fade-in {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
    }
}

.fade-in-animation {
    animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out-animation {
    animation: fade-out 0.5s ease-in-out forwards;
}

/****************/

body{
    overflow: hidden;
}



.d-column-flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-contacts-container{
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    display: flex;
}

.contacts-left-column {
    width: 456px;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--card-box-shadow);
}

.btn-container {
    width: 100%;
    padding: 22.5px 52px 22.5px 52px;
    position: relative;
    top: 0;
    left: 0;
}

.btn-add-contact {
    width: 100%;
}

#contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: scroll;
    width: 95%;
}

.registerbox {
    display: flex;
    align-items: center;
    width: 352px;
    height: 78px;
    padding: 15px 24px 15px 24px;
    border-bottom: 1px solid var(--clr-light-gray);
    font-size: 20px;
    font-weight: 400;
}

.person-container {
    display: flex;
    align-items: center;
    gap: 35px;
    cursor: pointer;
    border-radius: 10px;
    width: 352px;
    height: 78px;
    padding: 15px 24px 15px 24px;
}

.initials-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
    font-size: 12px;
    font-weight: 400;
    border: 2px solid white;
}

.person-name {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    margin-bottom: 5px;
}

.person-email {  
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-light-blue);
}

.element-active:not(.person-email) {
    background-color: var(--clr-dark-gray);
    color: white;
}

.person-container:hover:not(.element-active) {
    background-image: var(--linear-gradient-hvr-light-grey);
}

.contacts-details-headline {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 55px;
    margin-top: 110px;
}

.separator-upright-lightblue {
    height: 59px;
    width: 3px;
    background-color: var(--clr-light-blue);
    border-radius: 10px;
}

.contacts-claim {
    font-weight: 400;
    font-size: 27px;
    color: var(--clr-dark-gray)
}

/*Contact Details*/

.details-container {
    margin-left: 55px;
    margin-top: 39px;
}

.detail-header {
    display: flex;
    align-items: center;
}

.name-right {
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.function-container{
    display: flex;
    gap: 10px;
}

.edit-delete-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    gap: 11px;
    cursor: pointer;
    border: none;
    color: var(--clr-dark-gray);
}

.edit-delete-btn:hover {
    color: var(--clr-light-blue);
}

#edit-btn img {
    filter: invert(21%) sepia(15%) saturate(1620%) hue-rotate(176deg) brightness(95%) contrast(91%);
    width: 18px;
    height: 18px;
}

#delete-btn img {
    filter: invert(21%) sepia(15%) saturate(1620%) hue-rotate(176deg) brightness(95%) contrast(91%);
    width: 16px;
    height: 18px;
}

#edit-btn:hover img {
    filter: invert(59%) sepia(91%) saturate(1353%) hue-rotate(166deg) brightness(90%) contrast(95%);
}

#delete-btn:hover img {
    filter: invert(59%) sepia(91%) saturate(1353%) hue-rotate(166deg) brightness(90%) contrast(95%);
}

.contact-information-header {
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-top: 48px;
    margin-bottom: 48px;
}

  .contact-information-container {
    display: flex;
    flex-direction: column;
    height: 128px;
    justify-content: space-between;
  }

  #email-selected-contact {
    text-decoration: none;
    color: var(--clr-light-blue);
    
  }

 /*add Contact Slider*/

.contact-slider {
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    z-index: 100;
    transform: translate(+200%, -50%);
}

.slide-in-animation {
    animation: slide-in 0.8s ease-in-out forwards;
}

.slide-out-animation {
    animation: slide-out 0.8s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translate(+200%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-out {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(+200%, -50%);
    }
}

.d-none {
    display: none;
}

.left-container {
    background-color: var(--clr-dark-gray);
    width: 467px;
    height: 100%;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
}

.left-container img {
    width: 55.6px;
    height: 66.48px;
    margin-bottom: 12px;
}

.separator-across-lightblue {
    width: 90px;
    height: 3px;
    background-color: var(--clr-light-blue);
    border-radius: 10px;
    margin-bottom: 60px;
}

.add-claim {
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-bottom: 16px;
}

.clr-white{
    color: white;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 83px;
}

.control-elements-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputfields {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
}

label {
    position: relative;
  }
  
#contact-name-label:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 24px;
    background: url("/img/icons/person-grey.svg") center / contain no-repeat;
}

#contact-email-label:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 24px;
    background: url("/img/icons/mail-grey.svg") center / contain no-repeat;
}

#contact-phone-label:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 24px;
    background: url("/img/icons/call-grey.svg") center / contain no-repeat;
}


.contact-inputField {
    width: 422px;
    height: 48px;
    background: none;
    border: 1px solid var(--clr-light-gray);
    font-size: 20px;
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--clr-dark-gray);
    position: relative;
    padding: 13px 21px 13px 21px;
    border-radius: 10px;
}

.contact-inputField:focus {
    border: 1px solid var(--clr-light-blue);
    outline: none;
}

.contact-inputField::placeholder {
    color: var(--clr-light-gray);;
}

.person-badge {
    width: 120px;
    height: 120px;
    padding: 30px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 72px;
    color: white;
    font-size: 47px;
    font-weight: 500;
}

.cancel-x {
    position: absolute;
    top: 62px;
    right: 62px;
    cursor: pointer;
}

.cancel-create-buttons-container {
    display: flex;
    gap: 24px;
}

#createContactBtn img {
    width: 15.5px;
    height: 11.2px;
}

.img-white img {
    filter: brightness(0) saturate(100%) invert(100%);
}

.btn-pos {
    padding: 16px;
    gap: 10px;
}

#confirmation-container {
    width: 326px;
    height: 74px;
    background-color: var(--clr-dark-gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#confirmation-container span {
    font-size: 20px;
    font-weight: 400;
    color: white;
}