@import url(general.css);

body{
    overflow: hidden;
}

.main-contacts-container{
    width: 100%;
    height: 100%;
}

.contacts-container {
    display: flex;
}

.contacts-left-column {
    width: 456px;
    height: 100vh;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-container {
    overflow-y: scroll;
    width: 100%;
}

.contacts-details-headline {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 55px;
    margin-top: 110px;
}

.separator-upright-lightblue {
    height: 59px;
    width: 3px;
    background-color: var(--clr-light-blue);
    border-radius: 10px;
}

.h1-no-margin{
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    margin: 0;
}

.contacts-claim {
    font-weight: 400;
    font-size: 27px;
    color: var(--clr-dark-gray)
}

.btn-container {
    width: 100%;
    padding: 22.5px 52px 22.5px 52px;
    position: relative;
    top: 0;
    left: 0;
}

.btn-add-contact {
    width: 100%;
}

.d-column-flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.person-container {
    display: flex;
    align-items: center;
    gap: 35px;
    cursor: pointer;
    border-radius: 10px;
    width: 352px;
    height: 78px;
    padding: 15px 24px 15px 24px;
}

.element-active {
    background-color: var(--clr-sidebar-hover);
}

.person-container:hover:not(.element-active) {
    background-color: var(--clr-bg);
}



.initials-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
    font-size: 12px;
    font-weight: 400;
    border: 2px solid white;
}

.person-name {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    margin-bottom: 5px;
}

.person-email {  
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-light-blue);
}

.add-contact-container {
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    display: flex;
}

.d-none {
    display: none;
}

.slide-in-animation {
    animation: slide-in 1s ease-in-out forwards;
}

.slide-out-animation {
    animation: slide-out 1s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(150%);
    }
    100% {
        margin: auto;
    }
}

@keyframes slide-out {
    0% {
        margin: auto;
    }
    100% {
        transform: translateX(150%);
    }
}

.left-container {
    background-color: var(--clr-dark-gray);
    width: 467px;
    height: 100%;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
}

.left-container img {
    width: 55.6px;
    height: 66.48px;
    margin-bottom: 12px;
}

.separator-across-lightblue {
    width: 90px;
    height: 3px;
    background-color: var(--clr-light-blue);
    border-radius: 10px;
    margin-bottom: 60px;
}

.add-claim {
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-bottom: 16px;
}

.clr-white{
    color: white;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 83px;
}

.control-elements-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputfields {
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
}

.addcontact-input-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    width: 100%;
    border-radius: 10px;
    width: 422px;
    height: 48px;
    border: 1px solid var(--clr-light-gray);
    background-color: white;
    padding: 12px 16px;
}


.addcontact-inputField {
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--clr-dark-gray);
    position: relative;
}

.addcontact-inputField:focus {
    outline: none;
    font-size: 20px;
    font-family: 'Inter', Helvetica, sans-serif;
    color: var(--clr-dark-gray);
}

.addcontact-inputField::placeholder {
    color: var(--clr-light-gray);;
}

.person-uni-badge {
    width: 120px;
    height: 120px;
    padding: 30px;
    background-color: var(--clr-light-gray);
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 72px;
    color: white;
    font-size: 47px;
    font-weight: 500;
}

.cancel-x {
    position: absolute;
    top: 62px;
    right: 62px;
    cursor: pointer;
}

.cancel-create-buttons-container {
    display: flex;
    gap: 24px;
}

#createContactBtn img {
    width: 15.5px;
    height: 11.2px;
}

.img-white img {
    filter: brightness(0) saturate(100%) invert(100%);
}

.btn-pos {
    padding: 16px;
    gap: 10px;
}

.registerbox {
    display: flex;
    align-items: center;
    width: 352px;
    height: 78px;
    padding: 15px 24px 15px 24px;
    border-bottom: 1px solid var(--clr-light-gray);
    font-size: 20px;
    font-weight: 400;
}

.details-container {
    margin-left: 55px;
    margin-top: 39px;

}

.detail-header {
    display: flex;
    align-items: center;
}

.name-right {
    font-size: 47px;
    font-weight: 500;
    height: 88px;
}

.function-container{
    display: flex;
}

.edit-delete-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-dark-gray);
    gap: 8px;
}