@import url(font_Inter.css);

:root {
  --clr-bg: #f6f7f8;

  --clr-dark-gray: #2a3647;

  /* border */
  --clr-light-gray: #d1d1d1;
  --border-radius: 10px;

  --clr-sidebar-active: #091931;
  --clr-sidebar-hover: #2a3d59;
  --clr-light-blue: #29abe2;
  --clr-font-light: #cdcdcd;
  --clr-light-red: #ff8190;
  --clr-font-light-grey: #a8a8a8;
  --clr-bg-light-grey: #e7e7e7;
  --clr-background-boton: #f3f3f3;

  --clr-prio-red: #ff3d00;
  --clr-prio-orange: #ffa800;
  --clr-prio-green: #7ae229;

  --clr-task-technical: #1fd7c1;
  --clr-task-userstory: #0038ff;

  --header-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);

  --card-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);

  --btn-hvr-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --linear-gradient-hvr-light-grey: linear-gradient(
    0deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );

  --card-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  font-weight: 400;
  background-color: var(--clr-bg);
}

h1 {
  font-weight: 700;
  font-size: 61px;
  margin-bottom: 48px;
}

.no-margin {
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 47px;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 27px;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
}

h5 {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ::-webkit-scrollbar-corner{
    border-radius: 5px;
  } */
/* ::-webkit-scrollbar-track {
   
    margin-bottom: 10px;
} */

/* h1:    Inter 700 61px */
/* column title: Inter 700 20px */

.btn-grey {
  background-color: var(--clr-dark-gray);
  color: white;
  font-size: 21px;
  padding: 12px 0 12px 0;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  cursor: pointer;
}

.btn-grey:hover {
  background-color: var(--clr-light-blue);
  box-shadow: var(--btn-hvr-box-shadow);
}

.btn-white {
  background-color: white;
  color: var(--clr-dark-gray);
  font-size: 20px;
  padding: 12px 0 12px 0;
  border-radius: 10px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--clr-dark-gray);
  cursor: pointer;
}

.btn-white:hover {
  border: 1px solid var(--clr-light-blue);
  color: var(--clr-light-blue);
  box-shadow: var(--btn-hvr-box-shadow);
}

.btn-white:hover img {
  filter: brightness(0) saturate(100%) invert(100%);
  filter: invert(77%) sepia(32%) saturate(7234%) hue-rotate(165deg)
    brightness(92%) contrast(91%);
}
