@import url(general.css);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  background-color: var(--clr-background-boton);
}

.signUp-logo {
  position: absolute;
  top: 80px;
  left: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 122px;
  width: 100px;
}

.signUp-logo img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/* .signUp-container {
  display: flex;
  justify-content: center;
} */

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 598px;
  min-width: 300px;
  width: 100%;
  max-height: 630px;
  min-height: 595px;
  height: 100%;
  padding: 48px 88px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  gap: 32px;
}

.signUpHeader {
  display: flex;
}

.closeSignUp {
  position: relative;
  top: 8px;
  left: -120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.closeSignUp img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: left;
}

.closeSignUp:hover img {
  width: 24px;
  height: 20px;
}

.closeSignUp:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
}

.signUp h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 61px;
  font-weight: 700;
  height: 89px;
  max-width: 315px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.border-bottom {
  height: 0px;
  width: 150px;
  border-bottom: 3px solid var(--clr-light-blue);
  margin-top: 16px;
}

.input-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 422px;
  width: 100%;
  height: 326px;
  height: 100%;
}

.input-field {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  align-items: center;
  max-width: 422px;
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  border: 1px solid var(--clr-font-light);
  border-radius: 8px;
}

.input-field input {
  border: none;
  height: 24px;
  width: 100%;
  font-size: 16px;
}

.input-field input::placeholder {
  font-size: 16px;
  color: var(--clr-font-light);
}

.input-field input:focus-visible {
  outline: none;
}

.confirmPassword-field {
  margin-bottom: 4px;
  border-color: var(--clr-prio-red);
}

.confirmPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 422px;
  width: 100%;
}

.confirmPassword p {
  display: flex;
  font-size: 12px;
  color: var(--clr-prio-red);
  margin: 0;
}

.input-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-checkbox p:hover {
  cursor: default;
}

.input-checkbox img {
  margin-right: 6px;
}

.input-checkbox img:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.input-checkbox a {
  text-decoration: none;
  color: var(--clr-light-blue);
  font-size: 16px;
}

.input-checkbox a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.input-checkbox p {
  font-size: 16px;
  color: var(--clr-font-light);
  margin-right: 4px;
}

.signUp-btn {
  height: 55px;
  width: 126px;
  padding: 15px 24px;
  border-radius: 8px;
  background-color: var(--clr-dark-gray);
  color: #ffffff;
  font-size: 21px;
  border: none;
  font-weight: 700;
}

.signUp-btn:hover {
  cursor: pointer;
  background-color: var(--clr-light-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

footer {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataProtection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  height: 35px;
}

.dataProtection a {
  text-decoration: none;
  font-weight: 400;
  padding: 8px;
  font-size: 16px;
  color: var(--clr-font-light-grey);
  text-align: center;
}

.dataProtection a:hover {
  color: var(--clr-light-blue);
  font-weight: 600;
}

#pwIcon {
  cursor: default;
}

#pwIcon[src="./img/icons/visibility_off.svg"]:hover {
  cursor: pointer;
}

#pwIcon[src="./img/icons/visibility.svg"]:hover {
  cursor: pointer;
}

#cpwIcon {
  cursor: default;
}

#cpwIcon[src="./img/icons/visibility_off.svg"]:hover {
  cursor: pointer;
}

#cpwIcon[src="./img/icons/visibility.svg"]:hover {
  cursor: pointer;
}

@keyframes slide-up {
  0% {
    top: 150%;
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    visibility: visible;
    top: 50%;
    transform: translateY(-50%);
  }
}

.signUpSuccessCard {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.successBody {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 312px;
  border-radius: 20px;
  padding: 0 25px;
  background-color: var(--clr-dark-gray);
  color: #ffffff;
  font-size: 16px;
  animation: slide-up 1.5s ease forwards;
}

.none {
  display: none;
}

@media (max-width: 1000px) {
  .signUp-logo {
    top: 37px;
    left: 38px;
    width: 64px;
    height: 78.03px;
  }
}

@media (max-width: 680px) {
  .signUp-logo {
    width: 64px;
    height: 78.03px;
  }

  .closeSignUp {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .signUp {
    position: absolute;
    height: 595px;
    width: calc(100% - 32px);
    top: 165.5px;
    left: 0;
    right: 0;
    margin: 0 16px;
    padding: 32px 8px;
  }

  .signUp h1 {
    font-size: 47px;
    width: 173px;
    height: 56px;
  }

  .border-bottom {
    width: 88px;
  }

  .signUp-btn {
    width: 180px;
  }
}

@media (max-width: 330px) {
  .signUp {
    margin: 0 8px;
  }
}
